body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
  display: inline-block;
  margin-left: 15px;
}

.square {
  background: #fff;
  border: 1px solid black;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  background-color: transparent;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.black {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #000;
  width: 15px;
  height: 15px;
  margin-left: 7px;
}

.white {
  border: 1px solid #000;
  border-radius: 50%;
  background-color: #fff;
  width: 15px;
  height: 15px;
  margin-left: 7px;
}

.block {
  box-sizing: border-box;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.board {
  height: 156%;
  width: 34%;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 64px;
  left: 35px;
  z-index: -100;
}
.word {
  display: inline-block;
  position: relative;
  left: 10%;
}
