body {
  background: rgba(0, 0, 0, 0.3);
}

.wrapper {
  max-width: 645px;
  background: white;
  margin:10% auto;
  box-shadow: 1.8px 2.4px 5px 0 rgba(0, 0, 0, 0.3);
  border-top: solid 8px #fad312;
  padding: 64px 32px
}

.apply__title {
  margin: 0px;
  color: #000000;
  font-size: 36px;
  font-weight: bold;
}

.apply__adress {
  line-height: 25px;
  margin-top: 28px;
}

.apply__small-text {
  color: #e74149;
  font-size: 16px;
  margin: 22px auto;
}
  

.input-block__title {
  font-size: 20px;
  margin: 20px 0px 20px 0px;
}

.asking__other-text {
  font-size: 14px;
  margin-top: 8px;
}

input[type=text] {
  width: 287px;
  height: 23px;
  border: solid 1px #d0d0d0;
}
  

input[type=email] {
  width: 287px;
  height: 23px;
  border: solid 1px #d0d0d0;
}
  

input[type=tel] {
  width: 287px;
  height: 23px;
  border: solid 1px #d0d0d0;
}
 
.input-block__input {
  margin-top: 23px;
}

#other {
  top: 69px;
  left: 0px;
}

.button {
  width: 92px;
  height: 40px;
  border-radius: 3px;
  background-color: #fad312;
  margin-top: 55px;
}

.warring__text {
  margin-top: 21px;
}

.footer {
  color: #999999;
  font-size: 13px;
  text-align: center;
  position: relative;
  top: 35px;
}

.required .input-block__title:after {
  content: '*';
  color: #e74149;
}

.input-block__error {
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.hide-error .input-block__error{
  visibility: hidden;
}